doctype html
html
    head 
        title Faculty Page 
        p Your SSN is: #{faculty.FacSSN}
        p Your name is: #{faculty.FacFirstName} #{faculty.FacLastName}
        p Your Department is: #{faculty.FacDept}
        a(href="/") Back
