doctype html
html
    head 
        title Student Page 
        p Your SSN is: #{student.StdSSN}
        p Your name is: #{student.StdFirstName} #{student.StdLastName}
        p Your GPA is: #{student.StdGPA}
        a(href="/") Back